/build/
external/build*/
tracker/build/

docs*/
/assets/
/runtime/
install/
*.o
*.exe
*.zip
*.bin

.venv/
models/
__pycache__/

!/tracker/records/*.bin

# protoc 自動生成
/engine/generated/proto/
/tracker/generated/proto/
