[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = git@github.com:yy981-jp/tinygltf.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = git@github.com:nlohmann/json.git
[submodule "external/dear-imgui"]
	path = external/dear-imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/y9inc"]
	path = external/y9inc
	url = git@github.com:yy981-jp/tools.git
[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = git@github.com:bkaradzic/bgfx.cmake.git
